TELEGRAM_BOT_TOKEN=REDACTED
ADMIN_TELEGRAM_IDS=123456789
ADMIN_TELEGRAM_ID=123456789
TURSO_DATABASE_URL=libsql://your-db.turso.io
TURSO_AUTH_TOKEN=REDACTED
USDT_WALLET=REDACTED
SYRIATEL_CASH=REDACTED
SYP_RATE=140
DASHBOARD_PASSWORD=change-me
DASHBOARD_SECRET=generate-a-random-64-hex-secret
AF_PRICE_DOMINO=4
AF_PRICE_DISNEY=4
AF_PRICE_COIN=4
AF_PRICE_TRAVEL=4
AF_PRICE_YARN=4
AF_PRICE_DICE=4
AF_PRICE_TOY=4
AF_PRICE_TOON=4
AF_PRICE_MATCH=4
AF_PRICE_ROYAL=4
AF_PRICE_BOARD=4
AF_PRICE_DSOL=4
AF_PRICE_HOME=4
AF_PRICE_SCREW=4
AF_PRICE_EMPIRES=4
AF_PRICE_ZOMBIE=4
AF_PRICE_FAMILY=4
